.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: lightpink;
    width: 100vw;
    height: 95vh;
    padding: 0;
    margin: 0;
}

.pfp {
    max-width: 20vw;
    border-radius: 50%;
}
